<div class="columns block columns-2-cols" data-block-name="columns" data-block-status="loaded">
    <div>
        <div class="columns-img-col">
            <picture>
                <img loading="lazy" alt="" src="${properties.image}" />
            </picture>
        </div>
        <div>
            <p>${properties.title}</p>
            <p>${properties.description}<p class="button-container"><em><a href="/" title="About us" class="button secondary">About us</a></em></p>
        </div>
    </div>
 
</div>