<header class="header-wrapper"><div class="header block" data-block-name="header" data-block-status="loaded"><div class="nav-wrapper"><nav id="nav" aria-expanded="true"><div class="nav-hamburger"><button type="button" aria-controls="nav" aria-label="Close navigation">
      <span class="nav-hamburger-icon"></span>
    </button></div><div class="section nav-brand" data-section-status="loaded" style="">
  
<div class="default-content-wrapper"><picture>
    <source type="image/webp" srcset="https://main--edge-delivery-grundfos--cherup1979.aem.page/media_12221310291145e70aa5199c5ee1d801b8eb702f1.png?width=2000&amp;format=webply&amp;optimize=medium" media="(min-width: 600px)">
    <source type="image/webp" srcset="https://main--edge-delivery-grundfos--cherup1979.aem.page/media_12221310291145e70aa5199c5ee1d801b8eb702f1.png?width=750&amp;format=webply&amp;optimize=medium">
    <source type="image/png" srcset="https://main--edge-delivery-grundfos--cherup1979.aem.page/media_12221310291145e70aa5199c5ee1d801b8eb702f1.png?width=2000&amp;format=png&amp;optimize=medium" media="(min-width: 600px)">
    <img loading="lazy" alt="" src="https://main--edge-delivery-grundfos--cherup1979.aem.page/media_12221310291145e70aa5199c5ee1d801b8eb702f1.png?width=750&amp;format=png&amp;optimize=medium" width="128" height="18">
  </picture></div></div><div class="section nav-sections" data-section-status="loaded" style="">
  
<div class="default-content-wrapper">
	<!--<ul>
    <li class="nav-drop" aria-expanded="false" tabindex="0">About Us
      <ul>
        <li><a href="/anotherpage" title="About Us">About Us</a></li>
      </ul>
    </li>
    
    </ul>-->
    
    
    
                    <div data-sly-use.navigation="com.adobe.cq.wcm.core.components.models.Navigation"
                     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
                     data-sly-use.groupTemplate="group.html"
                     data-sly-call="${groupTemplate.group @ items=navigation.items}"
                     data-sly-test.hasContent="${navigation.items.size > 0}"
                     id="${navigation.id}"
                     class="section nav-sections"
                     itemscope itemtype="http://schema.org/SiteNavigationElement"
                     data-cmp-data-layer="${navigation.data.json}"
                     aria-label="${navigation.accessibilityLabel}"
                     role="navigation">

                </div>




    
 </div></div><div class="section nav-tools" data-section-status="loaded" style="">
  
<div class="default-content-wrapper"></div></div></nav></div></div></header>